{% extends 'user/base.html' %}

{% block content %}
<br>
<br>
<H2 style="color:rgb(15, 90, 228); margin-left: 2.5cm;">Thông tin về cửa hàng</H2>
<br>
<h3 style="color:rgb(49, 195, 214)">Chủ cửa hàng: Nguyễn Quang Dương</h3>
<h3 style="color:rgb(197, 171, 57)">Số điện thoại: 0968623340</h3>
<h3 style="color:rgb(154, 81, 221)">Địa chỉ: Mỹ đình 2, Hà Nội</h3>
<h3 style="color:rgb(85, 206, 55)">Email: nqddevvn@gmail.com</h3>
<h3 style="color:rgb(141, 199, 48)">Facebook: fb.com/nguyenquangduong1</h3>
<h3 style="color:rgb(223, 121, 39)">Github: github.com/HardcoreNQ</h3>
<h3 style="color:rgb(24, 173, 24)">Blog: quangduongvn.blogspot.com/</h3>
{% endblock %}